<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <title>Dotfile</title>
  <meta name="keywords" content="dotfile,ドットファイル,dots,git,github" />
  <meta name="description" content="dotsはgithubにあるdotfilesを集めたサイトです" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12228362-13']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <%= csrf_meta_tags %>
  <div class "container">
    <div class="row">
      <div class="twelve columns">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
